@using CheckerBlazorServer.Constant
@using CheckerBlazorServer.CheckerService.Model.BoardModelNS
@using CheckerService.Model.CheckerModelNS

@code {
    [Parameter, EditorRequired]
    public BoardField[,] Board { get; set; }
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-7 d-flex">
            <table class="table table-bordered">
                @for (int i = 0; i < Board.GetLength(0); i++)
                {
                    int localI = i;
                    <tr>
                        @for (int j = 0; j < Board.GetLength(1); j++)
                        {
                            var field = Board[i, j];

                            if (field.BoardFieldType == BoardFieldType.AlwaysEmpty)
                            {
                                <td>
                                    <div id="@($"cellId{i}-{j}")" class="content text-center">
                                        x
                                    </div>
                                </td>
                                continue;
                            }
                            if (field.Checker == null)
                            {
                                <td>
                                    <div id="@($"cellId{i}-{j}")" class="content text-center">
                                        m
                                    </div>
                                </td>
                                    continue;
                                }

                                if (field.Checker.CheckerColor == CheckerColor.White)
                                {
                                <td>
                                    <div id="@($"cellId{i}-{j}")" class="content text-center">
                                        w
                                    </div>
                                </td>

                            }
                            if (field.Checker.CheckerColor == CheckerColor.Black)
                            {
                                <td>
                                    <div id="@($"cellId{i}-{j}")" class="content text-center">
                                        b
                                    </div>
                                </td>
                            }

                        }
                    </tr>
                }
            </table>
        </div>
    </div>
</div>