@using CheckerBlazorServer.Constant
@using CheckerBlazorServer.CheckerService.Model.BoardModelNS
@using CheckerService.Model.CheckerModelNS
@using System.Text
@using CheckerBlazorServer.CheckerService
@using CheckerBlazorServer.CheckerRepositoryNS
@using Microsoft.AspNetCore.SignalR.Client

@code {

    [Parameter, EditorRequired]
    public HubConnection? hubConnection { get; set; }
    [Inject]
    public ICheckerService CheckerService { get; set; }
    [Inject]
    public ICheckerRepository CheckerRepository { get; set; }
    [Parameter]
    public string TableId { get; set; }
    protected override async Task OnInitializedAsync()
    {
        if (hubConnection != null)
        {
            hubConnection.On<CheckerModel, CheckerCoordinate>("ReceiveMove", ServerMove);
            hubConnection.On<CheckerModel, CheckerCoordinate>("ReceiveMove", (a, b) =>
            {
                Console.WriteLine("hello");
            });
        }
    }
    void ServerMove(CheckerModel serverChecker, CheckerCoordinate serverSteppedCoordinate)
    {
        CheckerService.MoveChecker(serverChecker, serverSteppedCoordinate);

    }
    private async Task Send(CheckerModel checkerModel, CheckerCoordinate checkerCoordinate)
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("SendMove", TableId, checkerModel, checkerCoordinate);
        }
    }

    private CheckerModel? selectedChecker;

    public Checkerboard()
    {

    }

    private void ClickWithCheckerOn(CheckerModel checker)
    {
        var result = CheckerService.ProbableSteps(checker);
        selectedChecker = checker;
        CheckerRepository.RemoveHighlighted();

        foreach (var probableStep in result)
        {
            CheckerRepository
                .GetBoardFieldByCoordinate(probableStep.IntendedCoordinate)!
                .FieldAttributes
                .Add(FieldAttribute.Highlighted);
        }


        StateHasChanged();
    }

    private async Task ClickWithoutChecker(int intendedRow, int intendedColumn)
    {

        if (selectedChecker is null)
        {
            return;
        }

        this.CheckerService.MoveChecker(selectedChecker, new CheckerCoordinate(intendedRow, intendedColumn));
        CheckerRepository.RemoveHighlighted();

        await Send(selectedChecker, new CheckerCoordinate(intendedRow, intendedColumn));

        StateHasChanged();
    }

    private string StyleForClass(HashSet<FieldAttribute> fieldAttributes)
    {
        StringBuilder sb = new StringBuilder();
        sb.Append("checker ");
        if (fieldAttributes.Contains(FieldAttribute.Highlighted))
            sb.Append("highlighted");

        return sb.ToString();
    }

}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-7 d-flex">
            <table class="table table-bordered">
                @for (int i = 0; i < Util.LENGTH; i++)
                {
                    int localI = i;
                    <tr>
                        @for (int j = 0; j < Util.LENGTH; j++)
                        {
                            var localJ = j;
                            var field = CheckerRepository.GetBoardFieldByCoordinate(new CheckerCoordinate(i, j));
                            <td>
                                <div id="@($"cellId{i}-{j}")" class="content text-center">
                                    @if (field.BoardFieldType == BoardFieldType.AlwaysEmpty)
                                    {
                                        <div>
                                            X
                                        </div>
                                    }
                                    else if (field.Checker == null)
                                    {
                                        <div class="@(StyleForClass(field.FieldAttributes))" @onclick="async ()=>await ClickWithoutChecker(localI, localJ)">
                                            O
                                        </div>
                                    }
                                    else if (field.Checker.CheckerColor == CheckerColor.White)
                                    {
                                        <div @onclick="() => ClickWithCheckerOn(field.Checker)">
                                            w
                                        </div>
                                    }
                                    else if (field.Checker.CheckerColor == CheckerColor.Black)
                                    {
                                        <div @onclick="() => ClickWithCheckerOn(field.Checker)">
                                            b
                                        </div>
                                    }
                                </div>
                            </td>

                        }
                    </tr>
                }
            </table>
        </div>
    </div>
</div>