@page "/login2"

<h1>hello</h1>
@*<button @onclick="click">click</button>*@


@code  {

    //public async Task click()
    //{
    //    await authenticaitonService.Login("a@a.hu", "Aa123456!");
    //}


}