@inherits LayoutComponentBase

<PageTitle>CheckerBlazorServer</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <CascadingAuthenticationState>
                <AuthorizeView>
                    <Authorized>
                        Hello, @context.User.Identity.Name!
                        <NavLink id="login" href="./identity/account/logout">Logout</NavLink><br />
                    </Authorized>
                    <NotAuthorized>
                        <NavLink id="login" href="./identity/account/login">Login</NavLink><br />
                        <NavLink id="login" href="./identity/account/register">Register</NavLink><br />
                    </NotAuthorized>
                </AuthorizeView>

            </CascadingAuthenticationState>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
